.date-div{
    display: flex;

    justify-content: center;
    padding: 20px;
    width: 100%;
}

.orders-div{
    display: flex;
    justify-content: center;
    width: 100%;
}

.orders-inner-div{
    width: 80%;
}

.dashboard-field{
    display: flex;

    justify-content: space-between;
}

.table-bordered>tbody>tr>td{
    border: none !important;
}

.table-bordered {
    border: none !important;
}

.date-submit-btn{
    background-color: rgba(105, 0, 132, .7); 
    border: none; color: white;
}

@media only screen and (max-width: 457px){
    
    .search-p{
        font-size: 90%;
    }
    
}

@media only screen and (max-width: 423px){
    
    .search-p{
        font-size: 80%;
    }
    
}

@media only screen and (max-width: 384px){
    
    .search-p{
        font-size: 70%;
    }
    
}

@media only screen and (max-width: 347px){
    
    .search-p{
        font-size: 60%;
    }
    
}

@media only screen and (max-width: 312px){
    
    .search-p{
        font-size: 50%;
    }
    
}