.orders-div{
    width: 90%;
}

.heading-div{
    padding: 20px;
}


.order_list_option{
    display: flex;
}

.order_list_option_item{
    background-color: white;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
}

.active{
    background-color: white;
    color: rgb(97, 70, 124);
    border-bottom: solid 1px rgb(97, 70, 124);
    padding-bottom: 15px;
    display: inline-block;
}

.chat_list_div{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.chat-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-details-div{
    margin-left: 10px;
}

.chat-details-div>p{
    margin: 0px;
    margin-bottom: 5px;
}

/* End tabs */

/* Table */

.table-area{
    margin-top: 20px;
}

/* Search input */

#example_filter{
    display: flex;
    justify-content: center;
}

#example_filter>label{
    width: 80%;
    margin-bottom: 20px;
}

#example_filter>label>input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

/* Pagination */

.table{
    margin-bottom: 0px !important;
}

