.orders-div{
    width: 100%;
}

.heading-div{
    padding: 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #ccc;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.order_list_option{
    display: flex;
}

.order_list_option_item{
    background-color: white;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
}

.active{
    background-color: white;
    color: rgb(0 142 255 / 88%);
    border-bottom: solid 1px rgb(0 142 255 / 88%);
    padding-bottom: 6px;
    display: inline-block;
}

.chat_list_div{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.chat-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-details-div{
    margin-left: 10px;
}

.chat-details-div>p{
    margin: 0px;
    margin-bottom: 5px;
}

/* tabs */

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }


  .functionality-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cccccc61;
  }

  #myInput{
    border: none;
    width: 70%;
    padding: 10px;
  }

  #myInput:focus {
    outline: none;
    }

    #myTable{
        margin-bottom: 100px;
    }

    .functionality-btn-div{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .sort-btn{
        background: white;
        border: solid 1px #ccc;
        padding: 7px;
        width: 50%;
    }

    .table-div{
        width: 100%;
        overflow: scroll;
    }

    @media only screen and (max-width: 722px){
    
      .functionality-div {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
  
    .functionality-btn-div {
      width: 100% !important;
      display: flex;
      justify-content: space-between !important;
      margin-top: 10px;
    }

    .sort-btn {
      width: 50%;
    }

    #myInput {
      width: 100%;
  }
      
  }


/* Hide scrollbar for Chrome, Safari and Opera */
    .table-div::-webkit-scrollbar {
        display: none;
    }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .table-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* End table */

  .th-div{
    width: 20%;
    display: flex;
    align-items: center;
  }

  .th-div>i{
    margin-left: 5px;
  }

/* pending status */

.pending-status{
    color: #ffac00;
    background-image: linear-gradient(#ffff0078, #ffff0078);
    padding: 3px;
    border-radius: 8px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: bold;
}


@media only screen and (max-width: 460px){
    
    .sort-btn{
        width: 82%;
    }
    
}


