.booking-btn{
    background-color: black;
    color: white;
    border: solid 1px black;
    min-width: 90px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;

}

.privious-work{
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 20px;
}

.privious-work-img-div{
    width: 100%;
    background: black;
    height: 210px;
    position: relative;
}

.privious-work-img{
    -webkit-mask-image: linear-gradient(to top, rgb(0 0 0 / 5%) 15%, rgba(0, 0, 0, 1));
    overflow: hidden;
    object-fit: cover;
    transition: transform .2s;
    height: 210px;
    width: 100%;
}

.privious-work-title-div{
  position: absolute;
  top: 1px;
  width: 100%;
  padding-left: 5px;
}

.privious-work-title-div>p{
    color: white;
}

.exprience-title{
  display: inline-block;
    background-color: #ff0050;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.edit-profile-btn{
  padding: 5px;
  border: none;
  background-color: #ff0050;
  color: white;
  min-width: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Image viewer */

* {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .main-image{
    width:100%; 
    height:80vh
  }

  .image-holder{
    display: flex; 
    height: 30vh;
  }


  @media only screen and (max-width: 900px){
    .main-image{
      height:60vh;
    }

    .image-holder{ 
      height: 25vh;
    }
}
  


  @media only screen and (max-width: 800px){
    .listing-holder {
      padding: 10px !important;
    } 

    .main-image{
      height:50vh;
    }

    .image-holder{ 
      height: 20vh;
    }
}


@media only screen and (max-width: 765px){
    
  .privious-work{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
  }
    
}

@media only screen and (max-width: 560px){
    
  .main-image{
    height:37vh;
  }

  .image-holder{ 
    height: 12vh;
  }
    
}


@media only screen and (max-width: 500px){
    
  .privious-work{
    grid-template-columns: repeat(3, 1fr);
  }
    
}

