.container{
    margin: 0px;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

/****************************************************** Orders */

.orders_list_are{
    width: 25%;
    border-right: 1px solid #ccc;
}

.heading-div{
    padding: 20px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order_list_option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.order_list_option_item{
    background-color: white;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
}

.active{
    background-color: white;
    color: rgb(0 142 255 / 88%);
    border-bottom: solid 1px rgb(0 142 255 / 88%);
    padding-bottom: 6px;
    display: inline-block;
}

.chat_list_div{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.chat-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-details-div{
    margin-left: 10px;
}

.chat-details-div>p{
    margin: 0px;
    margin-bottom: 5px;
}



/****************************************************** Orders ends */

.heading{
    margin: 0px;
}

.chat-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
}

.chat-heading>button{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 84px;
    border-radius: 5px;
    display: none;
}

.back-btn-div{
    display: flex;
    align-items: center;
}

.back-btn-div>i{
    margin-right: 10px;
    display: none;
}

.chat_area{
    width: 50%;
}

.chat-box{
    margin-top: 75px;
    padding: 20px;
    height: 60vh;

    display: flex;

    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    font-size: 0.9em;
    flex-direction: column-reverse;
}

.message{
    margin-bottom: 10px;
}

.message>p{
    margin: 0px;
}

.input-div{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.message-input{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.input-div-2{
    width: 90%;
    border: 1px solid #ccc;
    display: flex;
    padding-left: 3px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
    border-radius: 20px;
}


.message-input:focus{
    border: none;
    outline: none;
}


.input-div-2>i{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}

.modal-dialog {
    margin-top: 40% !important;
}



/****************************************************** Orders details */

.order_details_area{
    width: 25%;
    border-left: 1px solid #ccc;
}

.status{
    background-color: rgb(245, 227, 210);
    padding: 10px;
}

.status>p{
    margin: 0px;
}

.package-div{
    background-color: rgb(250, 248, 248);
}

.package-div>p{
    background-color: rgb(202, 201, 201);
    padding: 5px;
    width: 20%;
}

.details{
    padding-left: 10px;
}

.username-span{
    font-weight: bold;
}

.message-container{
    display: flex;
}

.message-by-user{
    justify-content: end;
}

.message-inner-div{
    padding: 12px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin-bottom: 5px;
}

.message-inner-div>p{
    margin: 0px;
}

.message-inner-div-2{
    padding: 12px;
    border: solid 2px #e9e9e9;
    border-radius: 10px;
    margin-bottom: 5px;
}

.message-inner-div-2 >p{
    margin: 0px;
}

.send-btn{
    background-color: transparent;
    border: none;
    color: rgb(0 142 255 / 88%);
}

/*************************** Responsive ************************/

@media only screen and (max-width: 1384px){
    .lable{
        font-size: 13px;
    }

    .active{
        display: block;
    }
}


@media only screen and (max-width: 1088px){

    .container {
        margin-bottom: 0px !important;
    }

    .navbar{
        margin-bottom: 0px !important;
    }

    .orders_list_are{
        width: 30%;
    }
    
    .chat_area{
        width: 70%;
    }
    
    .order_details_area{
        display: none;
    }

    .chat-heading>button{
        display: block;
    }

    .back-btn-div>i{
        display: block;
    }
}

@media only screen and (max-width: 915px){
    .orders_list_are{
        width: 40%;
    }
    
    .chat_area{
        width: 60%;
    }
}

@media only screen and (max-width: 684px){

    .footer{
        padding: 0px !important;
    }

    .footer-section {
        margin-top: 0px !important;
    }

    .lable{
        font-size: 15px;
    }
    .orders_list_are{
        width: 100%;
    }
    
    .chat_area{
        display: none;
        width: 100%;
    }
}