{% extends "base_profile.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block extrastyle %}

<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/join-influencer-profile.css' %}">
<link rel="stylesheet" href="{% static '/css/join-as-brand.css' %}">
<link rel="stylesheet" href="{% static '/css/brand-pricing.css' %}">
<link rel="stylesheet" href="{% static '/css/checkout.css' %}">
<style>
    body {
        font-size: initial;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .secure-holder {
        font-size: 11px;
        display: flex;
        color: rgb(42, 43, 46);
        align-items: baseline;
        margin-bottom: 5px;
    }

    @media only screen and (max-width: 800px) {
        .row-btn-profile {
            position: absolute;
            left: -39px !important;
        }
    }
</style>

{% endblock extrastyle %}
<style>

</style>

{% block content %}
<div class="progress-bar">
    <div class="progress-step step-active" data-id="0">
        <div class="step-num num-active">1</div>
        <div class="step-txt">Place Order</div>
    </div>
    <div class="progress-step" data-id="1">
        <div class="step-num">2</div>
        <div class="step-txt">Submit Requirements</div>
    </div>
</div>


<div class="form-holder-checkout">
    <div>
        <div class="form-section-checkout">
            <div class="form-title-checkout">Place Order</div>

            <div class="form-desc-checkout">A hold on your card will be placed for 72 hours. You will only be charged if
                Influencer accepts your request.</div>


            <div class="checkout-row">
                <!-- <div class="checkout-col checkout-form">

                    <div class="new-card-holder">
                        <div class="card-input-holder">
                            <input hidden class="input" type="text" name="postal_code" id="postal-code-input" placeholder="" style="width: 75%;">
                            <input hidden class="input" type="text" name="postal_code" id="postal-code-input" placeholder="Zip/Postal Code">
                        </div>

                        <div class="disclaimer-holder">
                            <div class="secure-holder"><img alt="" class="lock" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/password.svg"> Secure payments with Stripe</div>
                        </div>
                    </div>
                    
                   
                    <form action="{% url 'checkout' %}" method="post">
                        <input type="number" value="{{total_price}}" hidden name="total_checkout_price">
                        <input type="text" value="{{package_category}}" hidden name="package_category">
                        {% csrf_token %}
                        
                    <button class="btn" type="submit">Place Order</button>
                </form>
                    </div> -->

                <div class='checkout-col checkout-form'>
                    <label class="inputLabel">Add card details:</label>
                    <div class='filedAre'>
                        <div class='fields'>
                            <form id="payment-form">
                                <div id="payment-element">
                                    <!-- Elements will create form elements here -->
                                </div>
                                <button type="button" id="submit-payment" class="btn  btn-primary"
                                    style="margin-top: 20px; background: black !important;">Submit</button>
                                <div id="error-message">
                                    <!-- Display error message to your customers here -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <form action="{% url 'placeOrder' %}" method="POST" id="placeorder_form">
                    {% csrf_token %}
                    <input type="hidden" name="influencerId" value="{{joined_influencer.id}}">
                    <input type="hidden" name="packageId" value="6">
                    <input type="hidden" value="{{total_price}}" name="total_price">
                    <input type="hidden" value="" name="stripeToken" id="stripeToken">

                    <input type="hidden" value="{{package_category}}" name="package_category">
                    <input type="hidden" value="{{package_platform}}" name="package_platform">
                    <input type="hidden" value="{{package_description}}" name="package_description">

                    <input type="submit" style="display: none;" id="requirements_page">
                </form>

                <div class="checkout-col">
                    <div class="package-holder-checkout">
                        <div>
                            <img class="package-checkout-img" src="{{joined_influencer.cover_image.url}}">
                        </div>
                        <div class="package-detail-holder">
                            <div class="package-title">{{package_category}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="price-row">
                            <div>Subtotal</div>
                            <div>${{checkout_price}}</div>
                        </div>
                        <div class="price-row">
                            <div class="tooltip-checkout">Fee<img class="tooltip-checkout-img"
                                    src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/tooltip.svg">
                                <div class="tooltip-txt">This helps us operate our platform and cover payment processing
                                    fees.</div>
                            </div>
                            <div>${{ten_percent_price}}</div>
                        </div>
                        <div class="price-row tax-row">
                            <div>Tax</div>
                            <div id="tax-price"></div>
                        </div>
                        <div class="price-row total-price-row">
                            <div>Total</div>
                            <div id="total-price">${{total_price}} USD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="guides-holder">
                <div class="guide-holder">

                    <div class="guide-title">
                        <div class="guide-num">1</div>Place Order
                    </div>




                    <div class="guide-txt">Submit the requirements for the collaboration. Influencer has 72 hours to
                        accept your request before the hold on your card is removed.</div>
                </div>

                <div class="guide-holder">
                    <div class="guide-title">
                        <div class="guide-num">2</div>Chat With Influencer
                    </div>
                    <div class="guide-txt">Chat with Influencer and arrange the collaboration. Your funds are held
                        securely until they complete the work.</div>
                </div>

                <div class="guide-holder">
                    <div class="guide-title">
                        <div class="guide-num">3</div>Receive Content
                    </div>
                    <div class="guide-txt">Receive your content to review and approve. The collaboration is complete and
                        payment is released to the influencer.</div>
                </div>
            </div>

        </div>


    </div>
</div>




<div class="container" style="width: 100%;">
    <div class="footer">
        <div class="footer-top-row">
            <div class="footer-section">
                <div class="footer-title">Resources</div>
                <a href="/blog" class="footer-txt">Blog</a>
                <a href="/creator-hub" class="footer-txt">Creator Hub</a>
                <a href="/referral-program" class="footer-txt">Affiliate Program</a>
                <a href="/ultimate-guide-to-tiktok-for-brands" class="footer-txt">TikTok Ebook For Brands</a>
                <a href="/2022-influencer-marketing-report" class="footer-txt">2022 Influencer Marketing Report</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Tools</div>
                <a href="/influencer-price-calculator" class="footer-txt">Influencer Price Calculator</a>
                <a href="/influencer-campaign-brief-template" class="footer-txt">Influencer Campaign Brief
                    Template</a>
                <a href="/influencer-contract-template" class="footer-txt">Influencer Contract Generator</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Discover</div>
                <a href="/find-influencers" class="footer-txt">Find Influencers</a>
                <a href="/hire-influencers" class="footer-txt">Hire Influencers</a>
                <a href="/search-influencers" class="footer-txt">Search Influencers</a>
                <a href="/influencer-shoutouts" class="footer-txt">Buy Shoutouts</a>
                <a href="/influencer-marketplace" class="footer-txt">Influencer Marketplace</a>
                <a href="/top-influencers" class="footer-txt">Top Influencers</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Support</div>
                <a href="mailto:hello@INFUL.com" class="footer-txt">hello@INFUL.com</a>
                <a href="/#how-it-works" class="footer-txt">How It Works</a>
                <a href="/faq" class="footer-txt">FAQ</a>
            </div>
        </div>
        <div class="footer-btm-row">
            <div class="footer-btm-row-left">
                <div class="footer-item">© INFUL Inc.</div>
                <a href="/privacy" class="footer-item">Privacy</a>
                <a href="/terms" class="footer-item">Terms</a>
                <a href="/sitemap" class="footer-item">Sitemap</a>
            </div>

            <div class="footer-btm-row-right">
                <div class="footer-img">
                    <a href="https://instagram.com/INFUL" target="_blank"><span class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg"
                        alt="Instagram logo" loading="lazy">
                </div>
                <div class="footer-img">
                    <a href="https://tiktok.com/@INFUL.com" target="_blank"><span class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg"
                        alt="TikTok logo" loading="lazy">
                </div>

                <div class="footer-img">
                    <a href="https://twitter.com/@useINFUL" target="_blank"><span class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg"
                        alt="Twitter logo" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>










{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://js.stripe.com/v3/"></script>

<script>

    const stripe = Stripe('pk_test_51JjUwfESLCYKQ10LuYcS5op815ibdVIdgy1iOHvzOy2tgk04sW4R7tWfy44PrvjHurcdDl9sizct1uLPuAHmQbtY00w9TKZZj2');

    const elements = stripe.elements();

    var card = elements.create("card", {
        iconStyle: "solid",
        style: {
            base: {
                iconColor: "black",
                color: "black",
                fontWeight: 400,
                fontFamily: "Helvetica Neue, Helvetica, Arial, sans-serif",
                fontSize: "15px",
                fontSmoothing: "antialiased",

                "::placeholder": {
                    color: "#BFAEF6"
                },
                ":-webkit-autofill": {
                    color: "black"
                }
            },
            invalid: {
                iconColor: "red",
                color: "red"
            }
        }
    });
    //paymentElement.mount('#payment-element');
    card.mount("#payment-element");
    const form = document.getElementById('submit-payment');

    form.addEventListener('click', function () {
        // document.getElementById("loading").style.display = 'block';
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the 
        console.log(token, "*****************")
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("requirements_page").click()
    }

</script>



{% endblock extrajavascript %}