{% extends "base_profile.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}

<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/join-influencer-profile.css' %}">
<link rel="stylesheet" href="{% static '/css/join-as-brand.css' %}">
<link rel="stylesheet" href="{% static '/css/brand-pricing.css' %}">
<link rel="stylesheet" href="{% static '/css/checkout.css' %}">
<style>
    body{
        font-size: initial;
    }
 
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.box-holder{
    box-shadow: none !important;
    border-left: none;
}
.box_subtitle{
    margin-bottom: 2%;
    font-size: 15px;
    color: gray;
}
.input{
    margin-top: 10px;
}
.container_custom{
    padding-left: 45px;
    padding-right: 45px;
}

.profile-submit-btn{
   float: right;
    width: 170px;
}
@media only screen and (max-width: 800px){
    .container_custom{
    padding-left: 15px;
    padding-right: 15px;
}
.row-btn-profile{
    position: absolute;
    left: -39px !important;
}}
</style>

{% endblock extrastyle %}
<style>

</style>

{% block content %}	
<div class="progress-bar">
    <div class="progress-step step-active" data-id="0">
        <div class="step-num num-active">1</div>
        <div class="step-txt">Create Offer</div>
    </div>
    <div class="progress-step" data-id="1">
        <div class="step-num">2</div>
        <div class="step-txt">Send Offer</div>
    </div>
</div>
<form action="{% url 'checkout_page' %}" method="post">
    {% csrf_token %}
    <input type="text" name="influencer_email" hidden value="{{influencer_email}}">
    <div class="container container_custom" style="">
        <div class="package-holder box-holder package-holder-1">
            <div class="package-title box-title" style="font-size: 21px !important; margin-bottom: 0.5%;">Create an Offer</div>
            <div class="box_subtitle" style="">Create an offer. Be specific to ensure they understand your request.</div>
        
        
        
            <select class="input package-category-select" name="package_platform">
        
                <option value="" selected="" hidden="" disabled>Choose Platform</option>
        
        
                <option value="Instagram">Instagram</option>
        
                <option value="TikTok">TikTok</option>
        
                <option value="User Generated Content">User Generated Content</option>
        
                <option value="YouTube">YouTube</option>
        
                <option value="Twitter">Twitter</option>
        
                <option value="Twitch">Twitch</option>
        
            </select>
        
           
        
        
            <input class="input" type="text" name="package_category" placeholder="Summarize your request. E.g 1 TikTok Video"
                 value="" required>
        
        
            <textarea class="input textarea" name="package_description"
                placeholder="What are the details of this request? How many posts or photos? What will the influencer be expected to deliver? E.g. 1 TikTok Video promoting our product to your audience"
                 required></textarea>
        
            <input class="input price-input" type="number" name="checkout_price" placeholder="Price (USD)"
                value="" min="50" required>
            
            <div style=" ">
                <button type="submit" class="submit btn profile-submit-btn">Continue</button>
            </div>
            
        </div>
    
    </div>
</form>








<div class="container" style="width: 100%;">
    <div class="footer">
        <div class="footer-top-row">
            <div class="footer-section">
                <div class="footer-title">Resources</div>
                <a href="/blog" class="footer-txt">Blog</a>
                <a href="/creator-hub" class="footer-txt">Creator Hub</a>
                <a href="/referral-program" class="footer-txt">Affiliate Program</a>
                <a href="/ultimate-guide-to-tiktok-for-brands" class="footer-txt">TikTok Ebook For Brands</a>
                <a href="/2022-influencer-marketing-report" class="footer-txt">2022 Influencer Marketing Report</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Tools</div>
                <a href="/influencer-price-calculator" class="footer-txt">Influencer Price Calculator</a>
                <a href="/influencer-campaign-brief-template" class="footer-txt">Influencer Campaign Brief
                    Template</a>
                <a href="/influencer-contract-template" class="footer-txt">Influencer Contract Generator</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Discover</div>
                <a href="/find-influencers" class="footer-txt">Find Influencers</a>
                <a href="/hire-influencers" class="footer-txt">Hire Influencers</a>
                <a href="/search-influencers" class="footer-txt">Search Influencers</a>
                <a href="/influencer-shoutouts" class="footer-txt">Buy Shoutouts</a>
                <a href="/influencer-marketplace" class="footer-txt">Influencer Marketplace</a>
                <a href="/top-influencers" class="footer-txt">Top Influencers</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Support</div>
                <a href="mailto:hello@INFUL.com" class="footer-txt">hello@INFUL.com</a>
                <a href="/#how-it-works" class="footer-txt">How It Works</a>
                <a href="/faq" class="footer-txt">FAQ</a>
            </div>
        </div>
        <div class="footer-btm-row">
            <div class="footer-btm-row-left">
                <div class="footer-item">© INFUL Inc.</div>
                <a href="/privacy" class="footer-item">Privacy</a>
                <a href="/terms" class="footer-item">Terms</a>
                <a href="/sitemap" class="footer-item">Sitemap</a>
            </div>

            <div class="footer-btm-row-right">
                <div class="footer-img">
                    <a href="https://instagram.com/INFUL" target="_blank"><span class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg"
                        alt="Instagram logo" loading="lazy">
                </div>
                <div class="footer-img">
                    <a href="https://tiktok.com/@INFUL.com" target="_blank"><span
                            class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg"
                        alt="TikTok logo" loading="lazy">
                </div>

                <div class="footer-img">
                    <a href="https://twitter.com/@useINFUL" target="_blank"><span
                            class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg"
                        alt="Twitter logo" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>










{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
       $('.faq-holder').click(function () {
            let answer = $(this).children('.faq-answer');
            if (answer.is(":visible")) {
                answer.slideUp();
            } else {
                answer.slideDown();
            }
        });
        // for selecting package holders
        $('.package-holder').click(function () {
            $('.package-btn').removeClass('btn-active');
            $('.package-holder').removeClass('package-active');
            $(this).find('.package-btn').addClass('btn-active');
            $(this).addClass('package-active');
            $('.package-input').val($(this).data('id'));

            // update info on checkout box
            $('.checkout-price').html($(this).find('.package-price').html());
            $('.checkout-description-holder').html($(this).find('.package-description').html());
        });

        function changePackage(el) {
            
            let packageID = $(el).find(":selected").val();
            console.log('on change function calls', packageID)
            $(".packages-holder").find(`[data-id='${packageID}']`).click();
        }

        function changeFilter(el) {
            let cat = $(el).find(":selected").val();

            $('.package-holder').show();
            if (cat !== 'All') {
                $(".package-category").each(function () {
                    if ($(this).text().toLowerCase() !== cat) {
                        $(this).parent('.package-holder').hide();
                    }
                });
            }
        }
        // $(document).on('click', '.login-btn', function () {
        //     $('.form-holder-forgot').hide();
        //     $('.form-holder-signup').hide();
        //     $('.form-holder-login').show();
        // });
        // $(document).on('click', '.forgot-btn', function () {
        //     $('.form-holder-login').hide();
        //     $('.form-holder-forgot').show();
        // });
        // $(document).on('click', '.signup-btn', function () {
        //     $('.form-holder-login').hide();
        //     $('.form-holder-signup').show();
        // });
        // $('.msg-btn, .buy-btn, .save-btn').click(function () {

        //     $(".modal").css("display", "flex");
        // });
        // $('.close-modal').click(function () {

        //     $(".modal").css("display", "none");
        //     $(".form-1").css("display", "block");
        //         $(".form-2").css("display", "none");
        // });
        //     $('.modal-btn').click(function () {

        //         $(".form-1").css("display", "none");
        //         $(".form-2").css("display", "block");

        //     });

        

    </script>
</script>
{% endblock extrajavascript %}
