<script>
    const date_lable = document.getElementById("date_lable");

    let spli_dates = date_lable.value.split(",");

    let list_of_date = []

    for(let i=0; i<spli_dates.length-1;i++){
        list_of_date.push(spli_dates[i])
    }
    
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: list_of_date,
        datasets: [{
        label: "Orders you got",
        data: {{order_count}},
        backgroundColor: [
            'transparent',
        ],
        borderColor: [
            'rgb(0 142 255 / 88%)',
        ],
        borderWidth: 2
        }
        ]
    },
    options: {
        responsive: true
    }
    });

</script>


<script>

    function filter_date(){
        document.getElementById("date-display").style.display = "none";

        document.getElementById("date-filter-form").style.display = "block";
    }

</script>

