<script>
    const date_lable = document.getElementById("date_lable");

    let spli_dates = date_lable.value.split(",");

    console.log(spli_dates,"******");

    let list_of_date = []

    for(let i=0; i<spli_dates.length-1;i++){
        list_of_date.push(spli_dates[i])
    }
    
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: list_of_date,
        datasets: [{
        label: "My First dataset",
        data: {{order_count}},
        backgroundColor: [
            'rgba(105, 0, 132, .2)',
        ],
        borderColor: [
            'rgba(200, 99, 132, .7)',
        ],
        borderWidth: 2
        }
        ]
    },
    options: {
        responsive: true
    }
    });

</script>

