{% extends "base.html" %}




{% block title %} Inful {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<style>
    .dropdown-btn-input{
        opacity: 1 !important;
        outline: none !important;
        border: none !important;
        bottom: 2px;
    }
    .dropdown-btn-input-modal{
        left: 18px;
    }
    .dropdown-btn-title-home{
        left: 20px !important;
        position: absolute !important;
        top: 8px !important;
    }
    /* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
  border: 3px solid;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
</style>

{% endblock extrastyle %}

{% block content %}	
{% if messages %}
<div style="    display: flex;justify-content: center;">
    <ul class="messages" style=" padding: 2px; display: flex;">
        {% for message in messages %}
        {% if message.tag == 'signed in as'%}
        <h1>In if</h1>
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="display: flex;"> 
            <div><img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/succ.svg" class="succ-err-msg-img" id="msg-img-err" style="display: block;width: 20px;margin-right: 14px;" ></div>
        </div>
        <div>{{ message }}</div>
        {% else %}
        <div {% if message.tags %} class="{{ message.tags }}"  style="display: flex;"> 
            <div><img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/succ.svg" class="succ-err-msg-img" id="msg-img-err" style="display: block;width: 20px;margin-right: 14px;" ></div>
        </div>
        {% endif %}
        <div>{{ message }}</div>
        {% endif %}
            
            {% endfor %}
    </ul>
</div>
       
        {% endif %}

<div class="home-title-div" style="padding: 10px;">
    <h1 class="home-title">JOIN OUR COMMUNITY</h1>
</div>

<div class="dropdown-section container d-flex mt-5 mb-5" style="width: 318px">
    <div class="dropdown">
        <button class="  dropdown-toggle" type="button" data-toggle="dropdown">
            <div class="text-dark dropdown-btn-title dropdown-btn-title-home    ">Category</div>
            <input type="text" value="" class="dropdown-btn-text dropdown-btn-input" id="dropdown-btn-input" placeholder="Choose a Category"></input>
        </button>
        <div class="dropdown-menu" style="">
            <div class="dropdown-content">
                <div class="row" style="">
                    <div class="content-drop col-sm-4"> All</div>
                    <div class="content-drop col-sm-4">Lifestyle</div>
                    <div class="content-drop col-sm-4">Fashion</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Beauty</div>
                    <div class="content-drop col-sm-4">Health& Fitness</div>
                    <div class="content-drop col-sm-4">Travel</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Food & Drink</div>
                    <div class="content-drop col-sm-4">Model</div>
                    <div class="content-drop col-sm-4">Comedy and Entertainment</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Music And Dance </div>
                    <div class="content-drop col-sm-4">Art and Phototgraphy</div>
                    <div class="content-drop col-sm-4">Entrepreneur & Buisness</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Family & Children</div>
                    <div class="content-drop col-sm-4">Animals & Pets</div>
                    <div class="content-drop col-sm-4">Athlete & Sports</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Celebrity and public figure</div>
                    <div class="content-drop col-sm-4">Adventure & Outdoors</div>
                    <div class="content-drop col-sm-4">Actor</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Education</div>
                    <div class="content-drop col-sm-4">Gaming</div>
                    <div class="content-drop col-sm-4">LGBTQ2+</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Technology </div>
                    <div class="content-drop col-sm-4">Healthcare</div>
                    <div class="content-drop col-sm-4">Vegan</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">Cannabis</div>
                    <div class="content-drop col-sm-4">Skill Trades</div>
                    <div class="content-drop col-sm-4">Automotive</div>
                </div>
               
            </div>
          

        </div> 
           

        
    </div>
    <!-- <div class="dropdown" style="display: none;">
        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
            <div class="text-dark dropdown-btn-title    ">Followers</div>
            <div class="dropdown-btn-text">How many Followers?</div>
        </button>
        
        <div class="dropdown-menu" style="margin-left: -480px;">
            <div class="dropdown-content">
                <div class="row" style="">
                    <div class="content-drop col-sm-4"> All</div>
                    <div class="content-drop col-sm-4">0-1K</div>
                    <div class="content-drop col-sm-4">1K-10K</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">10K-50K</div>
                    <div class="content-drop col-sm-4">50K-100K</div>
                    <div class="content-drop col-sm-4">100K-500K</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">500K-1M</div>
                    <div class="content-drop col-sm-4">1M-5M</div>
                    <div class="content-drop col-sm-4">5M-10M</div>
                </div>
                <div class="row" style="">
                    <div class="content-drop col-sm-4">10M+</div>

                </div>
               
            </div>
            
            
        
            

        </div>

    
    </div> -->
    <div class="home_search_button"><button type="button" class="search-btn">
            <img alt="Search" class="search-img"
                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/search.svg">
        </button></div>

</div>
 <div class="dropdown-section dropdown-section-modal container d-flex mt-5 mb-5" style="width: 318px">
    <div class="dropdown">
        <button class="  dropdown-toggle" type="button" data-toggle="modal"  data-target="#myModal">
            <div class="text-dark dropdown-btn-title dropdown-btn-title-home    ">Category</div>
            <input type="text" value="" class="dropdown-btn-text dropdown-btn-input dropdown-btn-input-modal" id="dropdown-btn-input-modal" placeholder="Choose a Category"></input>
        </button>
        
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="dropdown-menu " id="dropdown-menu-modal" style="display: block !important; height: 800px !important;">
                            <div class="dropdown-content">
                                <div class="row" style="">
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">All </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Lifestyle </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Fashion </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    
                                </div>
                                <div class="row" style="">
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Beauty </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4"> Health& Fitness </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Travel </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                   
                                    
                                </div>
                                <div class="row" style="">
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Food & Drink </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div><div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Model </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div><div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Comedy and Entertainment </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                
                                </div>
                                <div class="row" style="">
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Music And Dance  </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                    
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Art and Phototgraphy </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    
                                    </div>
                                    <div style="position: relative;">
                                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Entrepreneur & Buisness </div>
                                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                            <span class="checkmark"></span></div>

                                    </div>
                                            
                                </div>
                                <div class="row" style="">
                                               <div style="position: relative;">
                                                    <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Family & Children </div>
                                                    <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                        <span class="checkmark"></span></div>
                        
                                                </div>
                                            <div style="position: relative;">
                                                <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Animals & Pets </div>
                                                <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                    <span class="checkmark"></span></div>
                    
                                            </div>
                                      <div style="position: relative;">
                                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Athlete & Sports </div>
                                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                <span class="checkmark"></span></div>

                                        </div>
                                   
                                </div>
                                <div class="row" style="">
                                        <div style="position: relative;">
                                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Celebrity and public figure </div>
                                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                <span class="checkmark"></span></div>
                
                                        </div>
                                       <div style="position: relative;">
                                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Adventure & Outdoors </div>
                                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                <span class="checkmark"></span></div>
                
                                        </div>
                                       <div style="position: relative;">
                                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Actor </div>
                                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                                <span class="checkmark"></span></div>

                                        </div>
                                   
                                </div>
                                <div class="row" style="">
                             <div style="position: relative;">
                                    <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Education </div>
                                    <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                        <span class="checkmark"></span></div>
        
                                </div>
                            <div style="position: relative;">
                                <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Gaming </div>
                                <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                    <span class="checkmark"></span></div>
    
                            </div>
                        <div style="position: relative;">
                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">LGBTQ2 </div>
                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                <span class="checkmark"></span></div>

                        </div>
                                   
                                </div>
                                <div class="row" style="">
                           
                            <div style="position: relative;">
                                <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Technology </div>
                                <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                    <span class="checkmark"></span></div>
    
                            </div>
                        <div style="position: relative;">
                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Healthcare </div>
                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                <span class="checkmark"></span></div>

                        </div>
                    <div style="position: relative;">
                        <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Vegan </div>
                        <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                            <span class="checkmark"></span></div>

                    </div>
                                  
                                </div>
                                <div class="row" style="">
                               <div style="position: relative;">
                                    <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Cannabis </div>
                                    <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                        <span class="checkmark"></span></div>
        
                                </div>
                            <div style="position: relative;">
                                <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Skill Trades </div>
                                <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                    <span class="checkmark"></span></div>
    
                            </div>
                        <div style="position: relative;">
                            <div data-dismiss="modal" class="content-drop  content-drop-modal col-sm-4">Automotive </div>
                            <div style="position: absolute; top: 20px; right: 25px;"><label for="">All</label> <input type="radio" name="radio" id="1">
                                <span class="checkmark"></span></div>

                        </div>
                                    
                                </div>
                               
                            </div>
                          
                
                        </div> 
                        
                            
                                    
                               
                          
                
                      
                    </div>

                </div>
               
                
            </div> 
        </div>     

        
    </div>
  
    <div class="home_search_button"><button type="button" class="search-btn">
            <img alt="Search" class="search-img"
                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/search.svg">
        </button></div>

</div> 
<div class="container div-titel" style="padding-left: 100px; padding-right: 100px; width: 100%;">
    <h1 class="featured-title">FEATURED</h1>
</div>
<!-- *************************************************************************************************************************change -->
<div class="influencers-div">
    {% if all_influencer %}
    {% for influencer in all_influencer %}
    {% if influencer.location %}
    <form action="{% url 'influencer_home_profile' %}" method="POST">
        {% csrf_token %}
        <div class="card img-fluid f-image" style="margin-right: 0px;">
            <input type="text" hidden name="influencer" value="{{influencer.email_address}}">
            <div class="img-background" onClick="javascript:this.parentNode.parentNode.submit();">
                
                <img class="card-img-top" src="{{influencer.cover_image.url}}"
                alt="Card image" style="width:100%">
    
            </div>
            
            <div class="card-img-overlay">
                <h4 class="card-title">{{influencer.full_name |title}}</h4>
                <p class="card-text">{{influencer.location}}</p>
    
            </div>
            <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
                <div style="color:grey">Instagram</div>
                <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
            </div>
            <h3 class="profile-text">{{influencer.description_influencer | title}} Content Creator</h3>
        </div>

    </form>
    {% endif %}
    
    {% endfor %}
    {% endif %}


    <div class="card img-fluid f-image" style="margin-right: 0px;">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/7075/16276318856345878.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Isaiah Lamb</h4>
            <p class="card-text">Baltimore, MD, US </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color:grey">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Verified fitness content creator and Professional</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top"  src="https://d5ik1gor6xydq.cloudfront.net/sellers/13709/16276331921042554.jpg"
            alt="Card image" style="width:100% ">
        </div>
       
        <div class="card-img-overlay">
            <h4 class="card-title">Jhony Valentine</h4>
            <p class="card-text">California, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">TikTok</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$5000</div>
        </div>
        <h3 class="profile-text">Verified fitness content creator and Professional</h3>

        
    </div>
    <div class="card img-fluid f-image">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/27767/16314533827067404.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Mona-Lisa Di-Macio</h4>
            <p class="card-text">London, LND, GB </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$560</div>
        </div>
        <h3 class="profile-text">Verified fitness content creator and Professional</h3>
    </div>
    <div class="card img-fluid f-image">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/30078/1633620831978466.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Jenelle Eason</h4>
            <p class="card-text">Wellmington, NC, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">YouTube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$1000</div>
        </div>
        <h3 class="profile-text">Verified fitness content creator and Professional</h3>
    </div>
    <div class="card img-fluid f-image">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/18493/1627627488852494.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Karolina Norée</h4>
            <p class="card-text">Stockholm, AB, SE </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$50</div>
        </div>
        <h3 class="profile-text">Wildlife Photographer </h3>
    </div>

    <div class="card img-fluid f-image">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/36161/1641902424434431.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Robyn Baillie</h4>
            <p class="card-text">Stockholm, AB, SE </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$50</div>
        </div>
        <h3 class="profile-text">Fashion, Beauty & Lifestyle Content Creator </h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/20108/16276277644045.jpg"
            alt="Card image" style="width:100%">
        </div> 

        
        <div class="card-img-overlay">
            <h4 class="card-title">Daknseth</h4>
            <p class="card-text">Winona, MN, US </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color:grey">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$200</div>
        </div>
        <h3 class="profile-text">Comedy Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top"  src="https://d5ik1gor6xydq.cloudfront.net/sellers/6815/16276318485617588.jpg"
            alt="Card image" style="width:100% ">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Cody Saintgnue</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$3500</div>
        </div>
        <h3 class="profile-text">Teen Wolf and Mtv Star, Model, Music Artist</h3>

        
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/22046/1627628076187854.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Gia Canning</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$800</div>
        </div>
        <h3 class="profile-text">Comedy/ LGBTQ2+ Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/16462/16276271113374264.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Elina Kremlidou</h4>
            <p class="card-text">Athens, GR </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$700</div>
        </div>
        <h3 class="profile-text">Entertainer Model and Influencer</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/27069/16457204254844453.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Noelia</h4>
            <p class="card-text">Puyallup,WA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Influencer and digital content creator</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/39064/16479373000937908.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Noelia</h4>
            <p class="card-text">Puyallup,WA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Influencer and digital content creator</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/2722/16289720309689631.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Brooke Barrows</h4>
            <p class="card-text">Los Angeles, CA, US </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color:grey">TikTok</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$300</div>
        </div>
        <h3 class="profile-text">Plus Size creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top"  src="https://d5ik1gor6xydq.cloudfront.net/sellers/20088/1627627761590911.jpg"
            alt="Card image" style="width:100% ">

        </div>
        
        
        <div class="card-img-overlay">
            <h4 class="card-title">Ty Bridgewater</h4>
            <p class="card-text">Ontario, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">TikTok</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$2000</div>
        </div>
        <h3 class="profile-text">TikTok review guy</h3>

        
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/5268/16276316060792086.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Gia Canning</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$800</div>
        </div>
        <h3 class="profile-text">Comedy/ LGBTQ2+ Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/16462/16276271113374264.jpg"
            alt="Card image" style="width:100%">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Elina Kremlidou</h4>
            <p class="card-text">Athens, GR </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$700</div>
        </div>
        <h3 class="profile-text">Entertainer Model and Influencer</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/27069/16457204254844453.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Noelia</h4>
            <p class="card-text">Puyallup,WA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Influencer and digital content creator</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/17938/1642625067250688.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Noelia</h4>
            <p class="card-text">Puyallup,WA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Influencer and digital content creator</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/30410/16339748641216326.jpg"
            alt="Card image" style="width:100%">
        </div> 

        
        <div class="card-img-overlay">
            <h4 class="card-title">Chyanne Harris</h4>
            <p class="card-text">Ptersbur, VA, US </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color:grey">Youtube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$450</div>
        </div>
        <h3 class="profile-text">Beauty, Influencer, Humor</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top"  src="https://d5ik1gor6xydq.cloudfront.net/sellers/12636/16379589616318884.jpg"
            alt="Card image" style="width:100% ">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Aaminah Luve</h4>
            <p class="card-text">Oklahoma City, OK, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Youtube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$435</div>
        </div>
        <h3 class="profile-text">I am a Fashion Model, Influencer Livestreamer</h3>

        
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/31562/16350488064965954.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Samuel</h4>
            <p class="card-text">Fairburn, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">YouTube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Anime Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/34337/16389760246284878.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Josephine Grosbol</h4>
            <p class="card-text">Copenhagen, DK </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Youtube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$100</div>
        </div>
        <h3 class="profile-text">Cosplayer and Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/41208/16454316334494665.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Chris Han</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Youtube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$2500</div>
        </div>
        <h3 class="profile-text">A MOM content creator who loves fashion</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/19489/1641438304875774.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Chris Han</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Youtube</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$1500</div>
        </div>
        <h3 class="profile-text">A content creator who loves fashion</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/21028/1627627922554103.jpg"
            alt="Card image" style="width:100%">
        </div> 

        
        <div class="card-img-overlay">
            <h4 class="card-title">Kyteryna Fylypchuk</h4>
            <p class="card-text">Toronto, ON, CA </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color:grey">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$200</div>
        </div>
        <h3 class="profile-text">Content creator Comedy Lifestyle, Fashion</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top"  src="https://d5ik1gor6xydq.cloudfront.net/sellers/32285/1635669463597932.jpg"
            alt="Card image" style="width:100% ">
        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Kevin Cuenca</h4>
            <p class="card-text">Los Angeles, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color: grey;">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$125</div>
        </div>
        <h3 class="profile-text">Emmy Award Winning TV reporter & Content creator</h3>

        
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/22841/1627628197479244.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Catarina Mendoza</h4>
            <p class="card-text">San Francisco, CA, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color: grey;">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$3000</div>
        </div>
        <h3 class="profile-text">Travel & Lifestyle Content creator</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/29140/1638469148831826.jpg"
            alt="Card image" style="width:100%">

        </div>
        
        <div class="card-img-overlay">
            <h4 class="card-title">Jack Flood</h4>
            <p class="card-text">Raleigh, NC, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color: grey;">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$800</div>
        </div>
        <h3 class="profile-text">Team USA decathlete/ FOOD/ FITNESS Influencer</h3>
    </div>
    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/34203/16391189282644236.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Emma Louise  </h4>
            <p class="card-text">Vancouver, BC, CA </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color: grey;">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$150</div>
        </div>
        <h3 class="profile-text">Outdoor Enthusiast, Travel & Adventure Photograph</h3>
    </div>

    <div class="card img-fluid f-image" >
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/26751/16302715732783926.jpg"
            alt="Card image" style="width:100%">

        </div>
        

        <div class="card-img-overlay">
            <h4 class="card-title">Emma Louise  </h4>
            <p class="card-text">Vancouver, BC, CA </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; ">
            <div style="color: grey;">User Generated Content</div>
            <div style="font-size: initial; color: black; font-weight: 600;">$200</div>
        </div>
        <h3 class="profile-text">Outdoor Enthusiast, Travel & Adventure Photograph</h3>
    </div>
</div>

<div class="see_more_div">
    <div class="see_more_buton" id="see_more">
        See More
    </div>
</div>


<!-- *************************************************************************************************************************change 2 -->
<div class="container mt-3 div-titel" style="padding-left: 100px; padding-right: 100px; width: 100%;">
    <h1 class="featured-title">Categories</h1>
    
</div>
<div class="container mt-3 categories-div" style="padding-left: 100px; padding-right: 100px; width: 100%;">


    <div class="card img-fluid categories-div-item" style="width: 598px; height:181px; border-radius: 13px;">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/categories/fashion.png"
            alt="Card image" style="width:100%; height: 236px;">
        </div>
        
        <div class="card-img-overlay-cat">
            <h2 style="font-size: 17px; font-weight: 700; margin: 0px;" class="card-title">Fashion</h2>
    
        </div>
        
    </div>
    <div class="card img-fluid categories-div-item" style="width: 598px; height:181px; border-radius: 13px;">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/categories/music & dance.png"
            alt="Card image" style="width:100%; height: 236px;">
        </div>
       
        <div class="card-img-overlay-cat">
            <h2 style="font-size: 17px; font-weight: 700; margin: 0px;" class="card-title">Music & Dance</h2>
            

        </div>
        
    </div>
    <div class="card img-fluid categories-div-item" style="width: 598px; height:181px; border-radius: 13px;">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/categories/beauty.png"
            alt="Card image" style="width:100%; height: 236px;">
        </div>
        
        <div class="card-img-overlay-cat">
            <h2 style="font-size: 17px; font-weight: 700; margin: 0px;" class="card-title">Beauty</h2>
            

        </div>
        
    </div>
    <div class="card img-fluid categories-div-item" style="width: 598px; height:181px; border-radius: 13px;">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/categories/travel.png"
            alt="Card image" style="width:100%; height: 236px;">
        </div>
       
        <div class="card-img-overlay-cat">
            <h2 style="font-size: 17px; font-weight: 700; margin: 0px;" class="card-title">Travel</h2>
            

        </div>
        
    </div>
    
</div>


<!-- *************************************************************************************************************************change 3 -->
<div class="container mt-3 featured-row" id="how-it-works" style="padding-left: 100px; padding-right: 100px; width: 100%; margin-top: 90px; display: block;">
    <h1 class="featured-title">How INFUL Works</h1>
    <p class="featured-text">Everything you need to run your influencer campaigns, and more.</p>
</div>


<!-- ####################################################### -->
<!-- how collabster work without images -->
<div class="container how-work-outer" style="padding-left: 100px; padding-right: 100px; width: 100%; display: flex;">
    <div class="how-work-card">
        <h1>1</h1>
        <h3>Search Influencers</h3>
        <p>Search through thousands of vetted Instagram, TikTok, and YouTube influencers.</p>
    </div>

    <div class="how-work-card">
        <h1>2</h1>
        <h3>Purchase Securely</h3>
        <p>Safely purchase through INFUL. We hold your payment until the work is completed.</p>
    </div>

    <div class="how-work-card">
        <h1>3</h1>
        <h3>Receive Quality Content</h3>
        <p>Receive your high quality content from influencers directly through the platform.</p>
    </div>
</div>
<!-- End without images -->
<!-- ################################################## -->
<!-- ##################################################### -->
<!-- How INFUL work with images -->
<!-- end with images -->
<!-- ############################################## -->

<!-- *************************************************************************************************************************change 4 -->
<div class="container how-work-outer" style="padding-left: 100px; padding-right: 100px; width: 100%;">
    <div class="row-holder">
        <div class="features-holder how-work-outer">
            <div class="feature-holder">
                <div class="feature-title"><img class="feature-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/money.svg" alt="Money icon" loading="lazy">No Upfront Cost</div>
                <div class="feature-txt">Search influencers for free. No subscriptions, contracts or hidden fees.</div>
            </div>
            <div class="feature-holder">
                <div class="feature-title"><img class="feature-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/check.svg" alt="Check icon" loading="lazy">Vetted Influencers</div>
                <div class="feature-txt">Every influencer is vetted by us. Always receive high-quality, professional content.</div>
            </div>
            <div class="feature-holder">
                <div class="feature-title"><img class="feature-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/chat.svg" alt="Chat icon" loading="lazy">Instant Chat</div>
                <div class="feature-txt">Instantly chat with influencers and stay in touch throughout the whole transaction.</div>
            </div>
            <div class="feature-holder">
                <div class="feature-title"><img class="feature-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/secure.svg" alt="Lock icon" loading="lazy">Secure Purchases</div>
                <div class="feature-txt">Your money is held safely until you approve the influencer’s work.</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}
<script>
    // --------------------------------------------------------- to select multiple inputs in category
    var input_value = $('#dropdown-btn-input').val()
    var str = ""
    $(".content-drop").on('click', function (e) {
        var value = $(this).text()
        console.log('content-drop!!!!!!!', value)
        if ($('#dropdown-btn-input').val().includes(value)) {
            console.log('if statement')
        }

        else {
        str = str + value + ','
            console.log('string value', str)

            $('#dropdown-btn-input').val(str)
        }
        console.log('dropdown-btn-input)))))', $('#dropdown-btn-input').val())
        
        
    });
    var input_value1 = $('#dropdown-btn-input-modal').val()
    var str1 = ""
    $(".content-drop-modal").on('click', function (e) {
        var value = $(this).text()
        console.log('content-drop!!!!!!!', value)
        if ($('#dropdown-btn-input-modal').val().includes(value)) {
            console.log('if statement')
        }

        else {
        str1 = str1 + value + ','
            console.log('string value', str1)

            $('#dropdown-btn-input-modal').val(str1)
        console.log('dropdown-btn-input-modal)))))', $('#dropdown-btn-input-modal').val())
        }
        
    });
    // $(".dropdown-toggle").on('click', function (e) {
    //     $('#dropdown-menu-modal').show()
    //     // $('#myModal').css('display', '')
    //     // $('#myModal').show()
        
        
    // });
    // ---------------------------------------------------- for modal
//     $(document).ready(function(){
//  $('[data-toggle="popover"]').popover();

//  $(function () {
//  $('.example-popover').popover({
//  container: 'body'
//  })
//  })

//  $(function() {
//  function reposition() {
//  var modal = $(this),
//  dialog = modal.find('.modal-dialog');
//  modal.css('display', 'block');
//  dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
//  }

//  $('.modal').on('show.bs.modal', reposition);

//  $(window).on('resize', function() {
//  $('.modal:visible').each(reposition);
//  });
//  });
//  });

</script>

<script>
    const f_image = document.getElementsByClassName("f-image");
    const see_more = document.getElementById("see_more");
    see_more.addEventListener("click", function(){
        if(f_image.length > 18){
            for(x=0; x<f_image.length;c=x++){
                f_image[x].style.display='block';
            }
        }
        see_more.style.display="none";
    });

    console.log("check");

    function myFunction(x) {
        if (x.matches) { // If media query matches
            if(f_image.length > 6){
                for(x=6; x<f_image.length;c=x++){
                    f_image[x].style.display='none';
                    see_more.style.display="block";
                }
            }
        }else{
            if(f_image.length > 18){
                for(x=18; x<f_image.length;c=x++){
                    f_image[x].style.display='none';
                    see_more.style.display="block";
                }
            }
        }
    }

    var x = window.matchMedia("(max-width: 552px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>


{% endblock extrajavascript %}
