{% extends "base_profile.html" %}
{% load static %}
{% load get_pictures %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">


<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<link rel="stylesheet" href="{% static '/css/new_profile.css' %}">
<style>
    body{
        font-size: initial;
    }
 
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 50px;
    height: 7rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    color: white;
    opacity: 1;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.share-btn, .save-btn{
    font-size: 15px !important;
   
}
.platform-img-holder-mobile{
    display: none !important;
}

.btn-row-mobile{
    display: none !important;
}
@media only screen and (max-width: 800px){
    .share-btn, .save-btn{
   
    padding-right: 0;
}
.row-btn-profile{
    padding-bottom: 0px;
    /* margin-bottom: -10px; */
    padding-left: 0;
    padding-right: 0px;
    width: -webkit-fill-available !important;
   
}
.platform-img-holder{
    margin-bottom: 10px !important;
}
.profile-holder{
    display: none;
}
.platform-img-holder-mobile{
    margin-bottom: -5px !important;
    display: flex !important;
    justify-content: flex-start !important;
}

.btn-row-mobile{
    justify-content: end !important;
    align-items: end !important;
    display: flex !important;
    position: relative !important;
}
.btn-row-big{
    display: none !important;
}
}
@media only screen and (max-width: 450px){
   

}
</style>

{% endblock extrastyle %}
<style>

</style>

{% block content %}	



<!-- ________________________________________ -->
<!-- body content -->


<div class="listing-holder">

    <div class="listing-cols" style="justify-content: center;">
        <div class="listing-col-r">

            <div class="profile-holder">
                <div class="profile-info-holder">
                    {% if joined_influencer.profile_image  %}
                    <img class="profile-pic"
                        src="{{joined_influencer.profile_image.url}}"
                        alt="Photo of {{joined_influencer.full_name | title}}">
                    {% else %}
                    <img class="profile-pic"
                    src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/avatar.png"
                    alt="">
                    {% endif %}
                    <div class="profile-name">{{joined_influencer.full_name | title}}</div>
                    <div class="profile-location">{{joined_influencer.location}}</div>
                    <div class="platform-img-holder">
                        {% if joined_influencer.instagram_username != "" %}
                        <div class="platform-img">
                            <a rel="nofollow" href="https://instagram.com/{{joined_influencer.instagram_username}}" target="_blank"
                                data-platform="instagram" class="intercept"><span class="link-spanner"></span></a>
                            <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg"
                                alt="Instagram logo">
                        </div>
                        {% endif %}

                        {% if joined_influencer.tiktok_username != "" %}
                        <div class="platform-img">
                            <a rel="nofollow" href="https://tiktok.com/{{joined_influencer.tiktok_username}}" target="_blank"
                                data-platform="tiktok" class="intercept"><span class="link-spanner"></span></a>
                            <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg"
                                alt="TikTok logo">
                        </div>
                        {% endif %}
                        {% if joined_influencer.youtube_url != "" %}
                        <div class="platform-img">
                            <a rel="nofollow" href="{{joined_influencer.youtube_url}}"
                                target="_blank" data-platform="youtube" class="intercept"><span
                                    class="link-spanner"></span></a>
                            <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/youtube.svg"
                                alt="YouTube logo">
                        </div>
                        {% endif %}
                        {% if joined_influencer.twitter_username != "" %}
                        <div class="platform-img">
                            <a rel="nofollow" href="https://twitter.com/{{joined_influencer.twitter_username}}"
                                target="_blank" data-platform="youtube" class="intercept"><span
                                    class="link-spanner"></span></a>
                            <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg"
                                alt="Twitter logo">
                        </div>
                        {% endif %}
                        {% if joined_influencer.twitch_username != "" %}
                        <div class="platform-img">
                            <a rel="nofollow" href="https://www.twitch.tv/{{twitch_username}}"
                                target="_blank" data-platform="youtube" class="intercept"><span
                                    class="link-spanner"></span></a>
                            <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitch.svg"
                                alt="Twitch logo">
                        </div>
                        {% endif %}


                    </div>
                    <form action="{% url 'custom_offer' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="influencer_email_custom" hidden value="{{joined_influencer.email_address}}">
                        <button class="booking-btn" onClick="javascript:this.parentNode.submit();">Book {{joined_influencer.full_name}}</button>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="privious-work">

        {% for exprience in previous_exprience_obj %}

            <div class="privious-work-img-div">
                <img src="{{exprience.id|get_pictures}}" onclick="openModal('{{exprience.id}}');currentSlide(1)" class="hover-shadow cursor privious-work-img">
                <div class="privious-work-title-div">
                    <p>{{exprience.exprience_title}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div id="main-image" style="overflow: hidden;">

            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
            <div style="display: flex; height: 30vh;" id="img-list">
                <div class="column">
                    <img class="demo cursor" src="{{joined_influencer.profile_image.url}}" style="width:100%; height: 100%;" onclick="currentSlide(1)" alt="Nature and sunrise">
                </div>
            </div>
        </div>
    </div>

 
</div>

<div class="modal" style="">
    <div class="modal-content-holder" style="width: 500px;">
        <link rel="stylesheet" type="text/css" href="/static/igmarketplace/auth/brandSignupModal.css?v=3.16">


        <form class="form-holder-signup">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="o2hdUlC7XrRdNCSqt8UCJibpfCA03TTIQEhrIgHaGs3FcgHIUGXzN5ywLyWveR5u">
            <!-- first form -->
            <div class="form-1">
                <div class="modal-content-header">
                    <div class="modal-content-header-title">Brand Sign Up</div>
                    <div class="close-modal"><img class="close-modal-img"
                            src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/closeModal.svg">
                    </div>
                </div>

                <div class="modal-content-scroll">
                    <div class="form">
                        <input class="input" type="text" placeholder="Full Name" name="name" required="">
                        <input class="input" type="text" placeholder="Brand Name" name="company" required="">
                        <input class="input" type="email" placeholder="Email" name="email" required="">
                        <input class="input" type="password" placeholder="Password" name="password" minlength="6"
                            required="">
                    </div>
                </div>

                <div class="modal-content-footer">
                    <button class="btn modal-btn">Continue</button>
                    <div class="login-signup">Already have an account? <a class="login-btn">Login</a></div>
                </div>
            </div>

            <!-- second form -->
            <div class="form-2">
                <div class="modal-content-header">
                    <div class="modal-content-header-title">Complete Profile</div>
                    <div class="close-modal"><img class="close-modal-img"
                            src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/closeModal.svg">
                    </div>
                </div>

                <div class="modal-content-scroll">
                    <div class="form">
                        <input class="input" type="text" name="website" placeholder="Website">
                        <input class="input" type="text" name="instagram" placeholder="Instagram Username">
                        <input class="input" type="text" name="tiktok" placeholder="TikTok Username">
                        <input class="input" type="text" name="youtube" placeholder="YouTube URL">
                    </div>
                </div>

                <div class="modal-content-footer">
                    <button class="btn modal-btn">Sign Up</button>
                    <div class="login-signup legal-signup">By signing up, you agree to our <a
                            href="/terms">Terms</a> and <a href="/privacy">Privacy Policy</a></div>
                </div>
            </div>
        </form>

        <form class="form-holder-login">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="o2hdUlC7XrRdNCSqt8UCJibpfCA03TTIQEhrIgHaGs3FcgHIUGXzN5ywLyWveR5u">

            <div class="modal-content-header">
                <div class="modal-content-header-title">Welcome Back</div>
                <div class="close-modal"><img class="close-modal-img"
                        src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/closeModal.svg">
                </div>
            </div>


            <div class="modal-content-scroll">
                <div class="form">
                    <input class="input" type="email" placeholder="Email" name="email" required="">
                    <input class="input" type="password" placeholder="Password" name="password" minlength="6"
                        required="">
                </div>
            </div>

            <div class="modal-content-footer">
                <button class="btn modal-btn">Login</button>
                <div class="login-signup forgot-btn">Forgot password?</div>
                <div class="login-signup">Don't have an account? <a class="signup-btn">Sign up</a></div>
            </div>
        </form>

        <form class="form-holder form-holder-forgot">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="o2hdUlC7XrRdNCSqt8UCJibpfCA03TTIQEhrIgHaGs3FcgHIUGXzN5ywLyWveR5u">
            <div class="modal-content-header">
                <div class="modal-content-header-title">Reset Password</div>
                <div class="close-modal"><img class="close-modal-img"
                        src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/closeModal.svg">
                </div>
            </div>


            <div class="modal-content-scroll">
                <div class="form">
                    <input class="input" type="email" placeholder="Email" name="email" required="">
                </div>
            </div>

            <div class="modal-content-footer">
                <button class="btn modal-btn">Send Reset Email</button>
                <div class="login-signup">Want to try again? <a class="login-btn">Login.</a></div>
            </div>
        </form>
    </div>
</div>


<div class="container" style="width: 100%;">
    <div class="footer">
        <div class="footer-top-row">
            <div class="footer-section">
                <div class="footer-title">Resources</div>
                <a href="/blog" class="footer-txt">Blog</a>
                <a href="/creator-hub" class="footer-txt">Creator Hub</a>
                <a href="/referral-program" class="footer-txt">Affiliate Program</a>
                <a href="/ultimate-guide-to-tiktok-for-brands" class="footer-txt">TikTok Ebook For Brands</a>
                <a href="/2022-influencer-marketing-report" class="footer-txt">2022 Influencer Marketing Report</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Tools</div>
                <a href="/influencer-price-calculator" class="footer-txt">Influencer Price Calculator</a>
                <a href="/influencer-campaign-brief-template" class="footer-txt">Influencer Campaign Brief
                    Template</a>
                <a href="/influencer-contract-template" class="footer-txt">Influencer Contract Generator</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Discover</div>
                <a href="/find-influencers" class="footer-txt">Find Influencers</a>
                <a href="/hire-influencers" class="footer-txt">Hire Influencers</a>
                <a href="/search-influencers" class="footer-txt">Search Influencers</a>
                <a href="/influencer-shoutouts" class="footer-txt">Buy Shoutouts</a>
                <a href="/influencer-marketplace" class="footer-txt">Influencer Marketplace</a>
                <a href="/top-influencers" class="footer-txt">Top Influencers</a>
            </div>

            <div class="footer-section">
                <div class="footer-title">Support</div>
                <a href="mailto:hello@INFUL.com" class="footer-txt">hello@INFUL.com</a>
                <a href="/#how-it-works" class="footer-txt">How It Works</a>
                <a href="/faq" class="footer-txt">FAQ</a>
            </div>
        </div>
        <div class="footer-btm-row">
            <div class="footer-btm-row-left">
                <div class="footer-item">© INFUL Inc.</div>
                <a href="/privacy" class="footer-item">Privacy</a>
                <a href="/terms" class="footer-item">Terms</a>
                <a href="/sitemap" class="footer-item">Sitemap</a>
            </div>

            <div class="footer-btm-row-right">
                <div class="footer-img">
                    <a href="https://instagram.com/INFUL" target="_blank"><span class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg"
                        alt="Instagram logo" loading="lazy">
                </div>
                <div class="footer-img">
                    <a href="https://tiktok.com/@INFUL.com" target="_blank"><span
                            class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg"
                        alt="TikTok logo" loading="lazy">
                </div>

                <div class="footer-img">
                    <a href="https://twitter.com/@useINFUL" target="_blank"><span
                            class="link-spanner"></span></a>
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg"
                        alt="Twitter logo" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>










{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}

<script src="{% static 'js/image-viewer.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
       $('.faq-holder').click(function () {
            let answer = $(this).children('.faq-answer');
            if (answer.is(":visible")) {
                answer.slideUp();
            } else {
                answer.slideDown();
            }
        });
        // for selecting package holders
        $(document).ready(function(){
    $(".packages-holder").find(">:first-child").click(); 
});



        $('.package-holder').click(function () {
            $('.package-btn').removeClass('btn-active');
            $('.package-holder').removeClass('package-active');
            $(this).find('.package-btn').addClass('btn-active');
            $(this).addClass('package-active');
            $('.package-input').val($(this).data('id'));

            // update info on checkout box
            $('.checkout-price').html($(this).find('.package-price').html());
            $('.checkout-price-input').val($(this).find('.package-price').html());
            $('.checkout-description-holder').html($(this).find('.package-description').html());
        });

        function changePackage(el) {
            
            let packageID = $(el).find(":selected").val();
            console.log('on change function calls', packageID)
            $(".packages-holder").find(`[data-id='${packageID}']`).click();

            console.log($(".package_id_holder").find(`[data-id='${packageID}']`).val());
        }

        function changeFilter(el) {
            let cat = $(el).find(":selected").val();

            $('.package-holder').show();
            if (cat !== 'All') {
                $(".package-category").each(function () {
                    if ($(this).text().toLowerCase() !== cat) {
                        $(this).parent('.package-holder').hide();
                    }
                });
            }
        }
        // $(document).on('click', '.login-btn', function () {
        //     $('.form-holder-forgot').hide();
        //     $('.form-holder-signup').hide();
        //     $('.form-holder-login').show();
        // });
        // $(document).on('click', '.forgot-btn', function () {
        //     $('.form-holder-login').hide();
        //     $('.form-holder-forgot').show();
        // });
        // $(document).on('click', '.signup-btn', function () {
        //     $('.form-holder-login').hide();
        //     $('.form-holder-signup').show();
        // });
        // $('.msg-btn, .buy-btn, .save-btn').click(function () {

        //     $(".modal").css("display", "flex");
        // });
        // $('.close-modal').click(function () {

        //     $(".modal").css("display", "none");
        //     $(".form-1").css("display", "block");
        //         $(".form-2").css("display", "none");
        // });
        //     $('.modal-btn').click(function () {

        //         $(".form-1").css("display", "none");
        //         $(".form-2").css("display", "block");

        //     });

        

    </script>
</script>
{% endblock extrajavascript %}
