{% extends "base.html" %}

{% load static %}
{% load get_pictures %}


{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<link rel="stylesheet" href="{% static '/css/join-influencer-profile.css' %}">
<link rel="stylesheet" href="{% static '/css/edit-page.css' %}">
<link rel="stylesheet" href="{% static '/css/new_profile.css' %}">
<style>
    .img-input {
    opacity: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.file-area{
    position: relative;
}
/* port folio */
.portfolio_upload_holder{
	flex-wrap: wrap;
	width: 100%;
	max-height: 420px;
    overflow-y: scroll;
}
.content_holder{
	flex: 0 26%;
    height: 265px;
    margin: 2.5%;
    position: relative;
}
.content_img, .content-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-logout{
    display: block;
    text-align: center;
    font-weight: 500;
    border: none;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: var(--lightBoxShadow);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    background-color: #222;
    color: white;
    width: 78px;
    padding: 6px 0;
    margin: 0 0 0 auto;
    text-decoration: none !important;

}

.btn-logout:hover{
    color: white;
    text-decoration: none !important;
}

@media only screen and (max-width: 884px){

	.content_holder{
		height: 130px;
	}
}
</style>
{% endblock extrastyle %}

{% block content %}	
<!-- {% if messages %}
<div style="    display: flex;justify-content: center;">
    <ul class="messages" style=" padding: 2px; display: flex;">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="display: flex;"> 
            <div><img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/err.svg" class="succ-err-msg-img" id="msg-img-err" style="display: block;width: 20px;margin-right: 14px;" ></div></div>
            <div>{{ message }}</div>
            {% endfor %}
    </ul>
</div>
       
        {% endif %} -->
<form action="{% url 'influencer_profile_edit' %}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="edit-main-div">
        <div style="display: flex; justify-content:space-between; align-items:center;">
            <h1 class="edit-main-headding" style="margin: 0px;" >Edit Your Page</h1>

            <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
        </div>

        <div class="edit-div-options">
            <div class="edit-div-item active" id="option">Details</div>
            <div class="edit-div-item" id="option">Social Media</div>
            <div class="edit-div-item" id="option">Previous Exprience</div>
        </div>

        <div id="div-options" class="details-div show">
            <div class="details-input-div">
                <label class="details-input-field-head">Display Name</label>
                <br>
                <input class="details-input-field" type="text" placeholder="Name shown on your profile and to brands" name="influencer_fullname">
            </div>

            <div class="details-input-div">
                <label class="details-input-field-head">Location</label>
                <br>
                <input class="details-input-field" type="text" name="influencer_location" placeholder="City - Enter first 3 letters and select from deopdown">
            </div>

            <!-- <div class="details-input-div">
                <label class="details-input-field-head">Title</label>
                <br>
                <input name="influencer_title" class="details-input-field" type="text" placeholder="E.g. Fitness Content Creator & Student Athlete">
            </div>

            <div class="details-input-div">
                <label class="details-input-field-head">Description</label>
                <br>
                <textarea name="influencer_description" style="height: 115px;" class="details-input-field" placeholder="Who are you? What type of content do you create and you post? Who is your audience? Be specific as this will help you show up in searches"></textarea>
            </div> -->

            <div class="details-input-div">
                <label class="details-input-field-head">Gender</label>
                <br>
                <select name="influencer_gender" class="details-input-field">
                    <option value="Male"selected>Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="save-btn-div">
                <button type="submit" class="save-btn">Save</button>
            </div>

        </div>

        <div id="div-options" class="social-media-div hide">
            <div class="form" style="margin-top: 40px;">
                <input type="hidden" name=""
                    value="">
                <div class="platform-holder">
                    <div class="platform-option" style="display: flex;">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg">
                        </div>
                        <div>Add Instagram</div>
                    </div>
                    <div class="input-row" style="">
                        <input class="input" type="text" name="instagram_username" placeholder="Instagram Username"
                            value="">
                        <select name="instagram_followers" class="input">
    
    
                            <option value="" selected="" hidden="" disabled>Instagram Followers</option>
    
    
                            <option value="9">0-1k</option>
    
                            <option value="1">1k-10k</option>
    
                            <option value="2">10k-50k</option>
    
                            <option value="3">50k-100k</option>
    
                            <option value="4">100k-500k</option>
    
                            <option value="5">500k-1m</option>
    
                            <option value="6">1m-5m</option>
    
                            <option value="7">5m-10m</option>
    
                            <option value="8">10m+</option>
    
    
                        </select>
                    </div>
                </div>
    
                <div class="platform-holder">
                    <div class="platform-option">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg">
                        </div>
                        <div>Add TikTok</div>
                    </div>
                    <div class="input-row">
                        <input class="input" type="text" name="tiktok_username" placeholder="TikTok Username" value="">
                        <select name="tiktok_followers" class="input">
    
    
                            <option value="" selected="" hidden="">TikTok Followers</option>
    
    
                            <option value="9">0-1k</option>
    
                            <option value="1">1k-10k</option>
    
                            <option value="2">10k-50k</option>
    
                            <option value="3">50k-100k</option>
    
                            <option value="4">100k-500k</option>
    
                            <option value="5">500k-1m</option>
    
                            <option value="6">1m-5m</option>
    
                            <option value="7">5m-10m</option>
    
                            <option value="8">10m+</option>
    
    
                        </select>
                    </div>
                </div>
    
                <div class="platform-holder">
                    <div class="platform-option">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/youtube.svg">
                        </div>
                        <div>Add YouTube</div>
                    </div>
                    <div class="input-row">
                        <input class="input" type="text" name="youtube_username" placeholder="YouTube URL" value="">
                        <select name="youtube_followers" class="input">
    
    
                            <option value="" selected="" hidden="">YouTube Subscribers</option>
    
    
                            <option value="9">0-1k</option>
    
                            <option value="1">1k-10k</option>
    
                            <option value="2">10k-50k</option>
    
                            <option value="3">50k-100k</option>
    
                            <option value="4">100k-500k</option>
    
                            <option value="5">500k-1m</option>
    
                            <option value="6">1m-5m</option>
    
                            <option value="7">5m-10m</option>
    
                            <option value="8">10m+</option>
    
    
                        </select>
                    </div>
                </div>
    
                <div class="platform-holder">
                    <div class="platform-option">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg">
                        </div>
                        <div>Add Twitter</div>
                    </div>
                    <div class="input-row">
                        <input class="input" type="text" name="twitter_username" placeholder="Twitter Username" value="">
                        <select name="twitter_followers" class="input">
    
    
                            <option value="" selected="" hidden="">Twitter Followers</option>
    
    
                            <option value="9">0-1k</option>
    
                            <option value="1">1k-10k</option>
    
                            <option value="2">10k-50k</option>
    
                            <option value="3">50k-100k</option>
    
                            <option value="4">100k-500k</option>
    
                            <option value="5">500k-1m</option>
    
                            <option value="6">1m-5m</option>
    
                            <option value="7">5m-10m</option>
    
                            <option value="8">10m+</option>
    
    
                        </select>
                    </div>
                </div>
    
                <div class="platform-holder">
                    <div class="platform-option">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitch.svg">
                        </div>
                        <div>Add Twitch</div>
                    </div>
                    <div class="input-row">
                        <input class="input" type="text" name="twitch_username" placeholder="Twitch Username" value="">
                        <select name="twitch_followers" class="input">
    
    
                            <option value="" selected="" hidden="">Twitch Followers</option>
    
    
                            <option value="9">0-1k</option>
    
                            <option value="1">1k-10k</option>
    
                            <option value="2">10k-50k</option>
    
                            <option value="3">50k-100k</option>
    
                            <option value="4">100k-500k</option>
    
                            <option value="5">500k-1m</option>
                            <option value="6">1m-5m</option>
                            <option value="7">5m-10m</option>
                            <option value="8">10m+</option>
                        </select>
                    </div>
                </div>
    
                <div class="platform-holder">
                    <div class="platform-option">
                        <div class="platform-img"><img
                                src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/website.svg">
                        </div>
                        <div>Add Website</div>
                    </div>
                    <div class="input-row">
                        <input class="input" type="text" name="website" placeholder="Website" value="">
                    </div>
                </div>
                
                <div class="save-btn-div">
                    <button class="save-btn">Save</button>
                </div>
            </div>
        </div>

        <div id="div-options" class="details-div-img hide">
            <div class="privious-work" style="margin-top: 20px;">

                {% for exprience in previous_exprience_obj %}
        
                    <div>
                        <div class="privious-work-img-div">

                            <img src="{{exprience.id|get_pictures}}" onclick="openModal('{{exprience.id}}');currentSlide(1)" class="hover-shadow cursor privious-work-img">
                            
                            <div class="privious-work-title-div">
                                <p>{{exprience.exprience_title}}</p>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <a href="{% url 'edit_experience' exprience.id %}">Edit</a>
                            <p style="margin-left: 5px; margin-right: 5px;">/</p>
                            <a href="{% url 'delete_experience' exprience.id %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="myModal" class="modal" style="background-color: rgba(34, 34, 34, 0.75);">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
        
                    <div id="main-image" style="overflow: hidden;">
        
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                    <div style="display: flex; height: 30vh;" id="img-list">
                        <div class="column">
                            <img class="demo cursor" src="{{joined_influencer.profile_image.url}}" style="width:100%; height: 100%;" onclick="currentSlide(1)" alt="Nature and sunrise">
                        </div>
                    </div>
                </div>
            </div>


            <div class="details-input-div">
                <label class="details-input-field-head">Add new exprience</label>
                <br>
                <input class="details-input-field" type="text" placeholder="Enter title" name="new_exprience_title">
                <input class="details-input-field" type="file" name="new_exprience_image">
            </div>
            
            <div class="save-btn-div">
                <button type="submit" class="save-btn">Save</button>
            </div>

        </div>

    </div>
</form>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}

<script src="{% static 'js/image-viewer.js' %}"></script>

<script>

    // *********************************************************************Tabs work
    const option = document.querySelectorAll("#option");
    const div_options = document.querySelectorAll("#div-options");

    function hide_others(){
        for(let x=0; x<div_options.length; x++){
            div_options[x].classList.remove("show");
            div_options[x].classList.add("hide");

            option[x].classList.remove("active");
        }
    }

    for(let i=0; i<option.length; i++){
        option[i].addEventListener("click", function(){
            hide_others();

            option[i].classList.add("active");

            div_options[i].classList.add("show");
            div_options[i].classList.remove("hide");
        });
    }

    // *********************************************************************Tabs work end

    // ********************************************************************* form 5
    $('.platform-option').click(function () {
        $(this).css("display", "none")
        $(this).next().css("display", "flex")
    });

    // ********************************************************************* form 5 end
    // ********************************************************************* form 7 start
    // adding images in html   
    $(function () {
        $('#file-input').change(function (event) {
            var x = URL.createObjectURL(event.target.files[0]);
            console.log('FIle input url_____', x)
            $('.profile-pic').attr("src", x);

        });
    })
    $(function () {
        $('.js-img-file-input').change(function (event) {
            var x = URL.createObjectURL(event.target.files[0]);
            $('.img1').attr("src", x);
           

        });
    })
    $(function () {
        $("input[name='img2']").change(function (event) {
            var x = URL.createObjectURL(event.target.files[0]);
            $('.img2').attr("src", x);


        });
    })
    $(function () {
        $("input[name='img3']").change(function (event) {
            var x = URL.createObjectURL(event.target.files[0]);
            $('.img3').attr("src", x);


        });
    })
    $(function () {
        $("input[name='img4']").change(function (event) {
            var x = URL.createObjectURL(event.target.files[0]);
            $('.img4').attr("src", x);


        });
    })

    // *************************************************************************form 8
    //  add new form
    var count = 0

    $($(".add-package-btn.add-btn.desktop-add-btn")[0]).on('click', function (e) {
        count = count + 1
        console.log($(this))
        for (var i = 1; i <= count; i++) {
            $($(".package-holder.box-holder")[i]).show()
        }
    })
    $(".delete-package-btn").click(function (event) {
        event.preventDefault();
        $(this).parent('div').addClass("remove-form-holder");


    });
    $(".package-category-select").on('click', function (e) {
        console.log($(this).children())

        $(this).next().children().hide()
        console.log('all elements', $(this).next().children())
        console.log('inside')
        var e = $(this).val();
        var matching = $(this).next().children().filter(function () {
            return $(this).attr('data-platform-id') == e
        });
        console.log(matching)
        matching.show()
        console.log('value', e)
    });
    $(".package-category-select").children().on('click', function (e) {
        $(this).next().css("display", "block")
    })

// *************************************************************************form 8 end

// ************************************************************************** form 9
var faq_count = 0
$($(".add-faq-btn")[0]).on('click', function (e) {
    faq_count = faq_count + 1
    console.log($(this))
    for (var i = 1; i <= faq_count; i++) {
        $($(".faq-holder")[i]).show()
    }
})
$(".delete-faq-btn").click(function (event) {
    event.preventDefault();
    $(this).parent('div').addClass("remove-form-holder");


});
// ************************************************************************** form 9 end
// ************************************************************************** Portfolio start
var count_port= 0
var input_value = $('#portfolio_input').val()
    var str = ""
$(function () {
            $("input[name='portfolio_pic']").change(function (event) {
                var x = URL.createObjectURL(event.target.files[0]);
                
				// if (this.files) {
                //     var filesAmount = input.files.length;
                //     console.log('Portfoliopic val:::::', filesAmount)}
            
            // $("div.portfolio_upload_holder").append(`
			// 	<div class="content_holder">
			// 		<img class="content_img img-portfolio${count_port}" src="${x}" alt="">

			// 	</div>
            // `);
            str = str + x + ','
            console.log('string value', str)

            $('#portfolio_input').val(str)
                // $('.img-1').attr("src",::::::::::: x);
                    count_port= count_port++

            });
            console.log('portfolio_input', $('#portfolio_input').val())
        })
     
   
        
        var id = $(this).text();
        
        if ($('#portfolio_input').val().includes(id)) {
            console.log('in if statement')
            str = str.replace(id + ',', '')
            $('#niches_input').val(str)
        }

        else {
          
        }
        
        
//*************************************************************************** portfolio end 
// ************************************************************************** For checking content type and price
function changecontenttype(content){
            console.log("The text has been changed.");
    content_type=content.value
    console.log('content_type',content_type)
        if (content_type== 'Reel'){
            value=$(content).parent().find(".price-input")
            // value=content.parent.children('.price-input');
            value.val(300);
        }
        if (content_type== 'Post'){
            value=$(content).parent().find(".price-input")
            value.val(300);
        }
        if (content_type== 'Story'){
            value=$(content).parent().find(".price-input")
            value.val(100);
        }
        if (content_type== 'Video'){
            value=$(content).parent().find(".price-input")
            value.val(400);
        }

        }

        $(".more-img-holder").click(function (event) {
       console.log('delete button clicked')
       $('.delete_form').submit()


    });
</script>

{% endblock extrajavascript %}
