{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block extrastyle %}
<link rel="stylesheet" href="{% static '/css/join-as-brand.css' %}">
{% endblock extrastyle %}

{% block content %}	

<div class="container text-center title-section" style="padding: 10px;">
    <h1 class="Join-brand-Title">The Easy Way to Generate</h1>
    <div >
        
        <span class="change-txt title-gradient"></span>
    </div>
    
    <h2 class="subtitle">Find influencers, run campaigns, and get unique content for your brand in seconds
    </h2>
</div >



<div style="text-align: center;"><button type="button" class="signup-btn">
       <a href="{% url 'register' %}"><p class="signup-txt" style="color: white;">Sign Up</p></a> 
    </button></div>

</div>
<div class="logo-title">Trusted by 5,000+ teams</div>
<div class="logo-holder">
    <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/wealthsimple.svg" alt="Wealthsimple logo" loading="lazy">
    <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/clickup.svg" alt="ClickUp logo" loading="lazy">
    <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/anese.svg" alt="Anese logo" loading="lazy">
    <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/un.svg" alt="United Nations logo" loading="lazy">
    <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/deezer.svg" alt="Deezer logo" loading="lazy">
</div>
<!-- example row holder on right side -->
<div class="container">
    <div class="example-row-holder row-holder row-holder-brand">
        <div class="example-steps-holder">
            <h2 class="example-row-title">Find and Hire Influencers in Seconds on the Marketplace</h2>

            <div class="example-step">
                <h3 class="example-step-title">Search Influencers</h3>
                <div class="example-step-txt">Search thousands of vetted Instagram, TikTok, and YouTube influencers.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Purchase Securely</h3>
                <div class="example-step-txt">Safely purchase through INFUL. We hold your payment until the work is completed.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Receive Quality Content</h3>
                <div class="example-step-txt">Receive your high-quality content from influencers directly through the platform.</div>
            </div>
        </div>
        <div class="example-img-holder">
            <picture>
                <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/marketplaceSmall.png">
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/marketplace.png" class="example-img" alt="Influencer marketplace" loading="lazy">
            </picture>
        </div>
    </div>
    <div class="container  ">
        <div class="example-row-holder row-holder row-holder-mobile">
            <div class="example-img-holder">
                <picture>
                    <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/marketplaceSmall.png">
                    <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/marketplace.png" class="example-img" alt="Influencer marketplace" loading="lazy">
                </picture>
            </div>
            <div class="example-steps-holder">
                <h2 class="example-row-title">Find and Hire Influencers in Seconds on the Marketplace</h2>
    
                <div class="example-step">
                    <h3 class="example-step-title">Search Influencers</h3>
                    <div class="example-step-txt">Search thousands of vetted Instagram, TikTok, and YouTube influencers.</div>
                </div>
                <div class="example-step">
                    <h3 class="example-step-title">Purchase Securely</h3>
                    <div class="example-step-txt">Safely purchase through INFUL. We hold your payment until the work is completed.</div>
                </div>
                <div class="example-step">
                    <h3 class="example-step-title">Receive Quality Content</h3>
                    <div class="example-step-txt">Receive your high-quality content from influencers directly through the platform.</div>
                </div>
            </div>
            
        </div>
    

</div>
<!-- Image example holder left side -->
<div class="container">
    <div class="example-row-holder row-holder example-row-holder-reverse row-holder-brand-reverse">
        <div class="example-img-holder">
            <picture>
                <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignSmall.png">
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaign.png" class="example-img" alt="Influencer campaign brief" loading="lazy">
            </picture>
        </div>
        <div class="example-steps-holder">
            <h2 class="example-row-title">Save Hours With Campaigns and Work With Influencers at Scale</h2>

            <div class="example-step">
                <h3 class="example-step-title">Create Campaigns</h3>
                <div class="example-step-txt">Centralize your images, requirements, content examples, and more in a campaign brief.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Add Influencers</h3>
                <div class="example-step-txt">Search and add influencers to your campaign in seconds.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Send to Influencers</h3>
                <div class="example-step-txt">Order from influencers in a single click by sending your campaign.</div>
            </div>
        </div>
    </div>
    <div class="example-row-holder row-holder example-row-holder-reverse row-holder-mobile-reverse">
        <div class="example-img-holder">
            <picture>
                <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignSmall.png">
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaign.png" class="example-img" alt="Influencer campaign brief" loading="lazy">
            </picture>
        </div>
        <div class="example-steps-holder">
            <h2 class="example-row-title">Save Hours With Campaigns and Work With Influencers at Scale</h2>

            <div class="example-step">
                <h3 class="example-step-title">Create Campaigns</h3>
                <div class="example-step-txt">Centralize your images, requirements, content examples, and more in a campaign brief.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Add Influencers</h3>
                <div class="example-step-txt">Search and add influencers to your campaign in seconds.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Send to Influencers</h3>
                <div class="example-step-txt">Order from influencers in a single click by sending your campaign.</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="example-row-holder row-holder row-holder-brand">

        <div class="example-steps-holder">
            <h2 class="example-row-title">Put Your Influencer Marketing on Autopilot <span class="badge">Pro</span></h2>

            <div class="example-step">
                <h3 class="example-step-title">Post Campaigns</h3>
                <div class="example-step-txt">Centralize your images, requirements, content examples, and more in a campaign brief.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Set Targeting</h3>
                <div class="example-step-txt">Specify demographics including niche, location and following size of the influencers you want to target.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Influencers Apply</h3>
                <div class="example-step-txt">Targeted influencers apply with their pricing and you can choose who to work with.</div>
            </div>
        </div>

        <div class="example-img-holder">
            <picture>
                <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignApplySmall.png">
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignApply.png" class="example-img" alt="Influencer campaign brief" loading="lazy">
            </picture>
        </div>
    </div>
    <div class="example-row-holder row-holder row-holder-mobile">
        <div class="example-img-holder">
            <picture>
                <source media="(max-width: 800px)" srcset="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignApplySmall.png">
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/brandPage/campaignApply.png" class="example-img" alt="Influencer campaign brief" loading="lazy">
            </picture>
        </div>

        <div class="example-steps-holder">
            <h2 class="example-row-title">Put Your Influencer Marketing on Autopilot <span class="badge">Pro</span></h2>

            <div class="example-step">
                <h3 class="example-step-title">Post Campaigns</h3>
                <div class="example-step-txt">Centralize your images, requirements, content examples, and more in a campaign brief.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Set Targeting</h3>
                <div class="example-step-txt">Specify demographics including niche, location and following size of the influencers you want to target.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Influencers Apply</h3>
                <div class="example-step-txt">Targeted influencers apply with their pricing and you can choose who to work with.</div>
            </div>
        </div>

       
    </div>
</div>
<div class="container">
    <div class="example-row-holder row-holder example-row-holder-reverse row-holder-brand-reverse" >
        <div class="example-img-holder content-holder-row " style="display: flex;">
            <div class="content-holder">
                <a rel="nofollow" href="https://www.instagram.com/p/CN546zuBXwr/" target="_blank"><span class="link-spanner"></span></a>
                <img loading="lazy" class="content-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/2.png" alt="Influencer content">
            </div>

            <div class="content-holder content-holder-center" style=""> 
                <div class="play-btn-holder">
                    <img class="play-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/play.svg" loading="lazy">
                </div>
                <video class="content-img content-vid" playsinline="" preload="metadata">
                    <source src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/3.mp4#t=0.1">
                </video>
            </div>

            <div class="content-holder">
                <div class="play-btn-holder">
                    <img class="play-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/play.svg" loading="lazy">
                </div>
                <video class="content-img content-vid" playsinline="" preload="metadata">
                    <source src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/5.mp4#t=0.1">
                </video>
            </div>
        </div>
        <div class="example-steps-holder">
            <h2 class="example-row-title">One Place for All of Your Content Needs</h2>

            <div class="example-step">
                <h3 class="example-step-title">Sponsored Posts</h3>
                <div class="example-step-txt">Purchase sponsored content on Instagram, TikTok, and YouTube.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Product Tutorials</h3>
                <div class="example-step-txt">Use influencers to create high-quality product tutorials.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Testimonials</h3>
                <div class="example-step-txt">Get influencers to generate testimonials for your product or business.</div>
            </div>
        </div>
    </div>
    <div class="example-row-holder row-holder example-row-holder-reverse row-holder-mobile-reverse" >
        <div class="example-img-holder content-holder-row scrollbar-d-none" style="display: flex;">
            <div class="content-holder">
                <a rel="nofollow" href="https://www.instagram.com/p/CN546zuBXwr/" target="_blank"><span class="link-spanner"></span></a>
                <img loading="lazy" class="content-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/2.png" alt="Influencer content">
            </div>

            <div class="content-holder content-holder-center" style=""> 
                <div class="play-btn-holder">
                    <img class="play-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/play.svg" loading="lazy">
                </div>
                <video class="content-img content-vid" playsinline="" preload="metadata">
                    <source src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/3.mp4#t=0.1">
                </video>
            </div>

            <div class="content-holder">
                <div class="play-btn-holder">
                    <img class="play-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/play.svg" loading="lazy">
                </div>
                <video class="content-img content-vid" playsinline="" preload="metadata">
                    <source src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/content/5.mp4#t=0.1">
                </video>
            </div>
        </div>
        <div class="example-steps-holder">
            <h2 class="example-row-title">One Place for All of Your Content Needs</h2>

            <div class="example-step">
                <h3 class="example-step-title">Sponsored Posts</h3>
                <div class="example-step-txt">Purchase sponsored content on Instagram, TikTok, and YouTube.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Product Tutorials</h3>
                <div class="example-step-txt">Use influencers to create high-quality product tutorials.</div>
            </div>
            <div class="example-step">
                <h3 class="example-step-title">Testimonials</h3>
                <div class="example-step-txt">Get influencers to generate testimonials for your product or business.</div>
            </div>
        </div>
    </div>
</div>
<!-- logos -->
<div>
    <div class="logo-title">As seen in</div>
    <div class="logo-holder">
        <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/buzzfeed.svg" alt="Buzzfeed logo" loading="lazy">
        <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/bloomberg.svg" alt="Bloomberg logo" loading="lazy">
        <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/nyt.svg" alt="New York Times logo" style="width: 175px;" loading="lazy">
        <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/yahoo.svg" alt="Yahoo logo" loading="lazy">
        <img class="logo-img" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/logos/shopify.svg" alt="Shopify logo" loading="lazy">
    </div>
</div>
<div class="container" style="text-align: center;">
    <h2 class="row-title row-title-center title-gradient">Loved by 40,000+ Creators</h2>
    <div class="niches">
        <div class="niche">Lifestyle</div>
        <div class="niche">Fashion</div>
        <div class="niche">Beauty</div>
        <div class="niche">Travel</div>
        <div class="niche">Health & Fitness</div>
        <div class="niche">Family & Children</div>
        <div class="niche">Music & Dance</div>
        <div class="niche">Comedy & Entertainment</div>
    </div>
</div>
<div class="container mt-3 featured-row scrollbar-none" style="text-align: center;">


    <div class="influencer-card card img-fluid" style="width:270px">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/29165/16328611849188118.jpg"
                alt="Card image" style="width:100%">

        </div>

        <div class="card-img-overlay">
            <h4 class="card-title">Dj Davids</h4>
            <p class="card-text">NewYork, NY, US </p>

        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color:grey">Instagram</div>
            <div>$500</div>
        </div>
        <h3 class="profile-text">Mr USA 2021, Lgbt Advocate, Fitness App founder</h3>
    </div>
    <div class="influencer-card card img-fluid" style="width:270px ">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/25369/16287337189095507.jpg"
                alt="Card image" style="width:100% ">
        </div>

        <div class="card-img-overlay">
            <h4 class="card-title">Tommy Smith</h4>
            <p class="card-text">Sydney, NSW, AUS </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">TikTok</div>
            <div>$500</div>
        </div>
        <h3 class="profile-text">Prank Content Creator</h3>


    </div>
    <div class="influencer-card card img-fluid" style="width:270px">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/11400/16276327937195756.jpg"
                alt="Card image" style="width:100%">
        </div>

        <div class="card-img-overlay">
            <h4 class="card-title">Ignacio De Lorenzo</h4>
            <p class="card-text">Madrid, ES </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div>$150</div>
        </div>
        <h3 class="profile-text">Travel, Aviation, Fashion, Lifestyle</h3>
    </div>
    <div class="influencer-card card img-fluid" style="width:270px">
        <div class="img-background">
            <img class="card-img-top" src="https://d5ik1gor6xydq.cloudfront.net/sellers/27815/16315628236296604.jpg"
                alt="Card image" style="width:100%">
        </div>

        <div class="card-img-overlay">
            <h4 class="card-title">Jessica</h4>
            <p class="card-text">Buffalo, NY, US </p>
        </div>
        <div class="profile-info" style="display: flex; justify-content: space-between; text-align: center;">
            <div style="color: grey;">Instagram</div>
            <div>$400</div>
        </div>
        <h3 class="profile-text">Hi I'm Jess, Avid Traveler and Content Creator</h3>
    </div>
</div>


<div class="container">
    <div class="faqs-holder">
        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">How does shipping work?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">Once you place an order, the influencer will send you their shipping info through the chat. You can then use your preferred shipping carrier to send them the product.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">How do I send custom offers?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">If you have a request that doesn't fit an influencers existing packages you can send them a custom offer. To do this, click the "Contact" button on the influencers profile and follow the steps.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">Can INFUL manage an influencer campaign for me?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">Yes, if you would like INFUL to plan and manage an influencer campaign for you, email us at <a href="mailto:hello@INFUL.com">hello@INFUL.com</a> to get started.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">How are influencers vetted before joining INFUL?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">We verify the identity of each influencer that is listed on the platform. We also do a full audit of their social media to look for signs of fake followers &amp; engagement. We also take into consideration their previous brand deals.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">How do I know I will receive the work I paid for?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">INFUL holds your money until the work is completed and approved by you. You will have up to 48 hours once the work has been submitted to ask for a revision or open a dispute with INFUL.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">How long does an influencer have to accept my order?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">Influencers are given 72 hours to accept new orders before they automatically expire.</div>
        </div>

        <div class="faq-holder">
            <div class="faq-title-holder">
                <h3 class="faq-question">What if an influencer declines my order?</h3>
                <img class="faq-btn" src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/plus.svg" loading="lazy">
            </div>
            <div class="faq-answer">We do not charge you until an influencer accepts your order. So if your order gets declined no action is required from you.</div>
        </div>
    </div>
</div>

<div class="container" style="display: flex; justify-content: center;">
    <div class="cta-holder">
        <div class="cta-overlay-holder" style="display: flex; justify-content: center;">
            <div class="cta-txt-holder">
                <h2 class="cta-title">Get Product Photos, Sponsored Posts & Testimonials for Your Brand</h2>
                <h3 class="cta-txt">Find influencers, run campaigns, and get unique content for your brand in seconds</h3>
                <a class="cta-btn btn" href="{% url 'register' %}">Sign Up</a>
            </div>
        </div>
        <img loading="lazy" alt="top influencers" class="cta-img"
            src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/cta.png">
    </div>

</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}
<script>
    $(document).ready(function () {
        // $(".faq-btn").click(function () {
        //     if ($(this).parent().next().css('display') == 'none') {
        //         $(this).parent().next().css("display", "block");
        //     }
        //     else {
        //         $(this).parent().next(".faq-answer").css("display", "none");
        //     }

// });
    $(document).ready(function () {
        $('.faq-holder').click(function () {
        let answer = $(this).children('.faq-answer');
        if (answer.is(":visible")) {
            $(this).removeClass("rotate")
            answer.slideUp();
        } else {
            $(this).addClass("rotate")
            answer.slideDown();
        }
            });
        });
    });

    let arr = ['Product Photos', 'Sponsored Posts' , 'Testimonials', 'Video Ads'];
    let txtIdx = 0;
    let change = $('.change-txt');
    function changeTxt(){
        if(txtIdx === arr.length - 1){
            txtIdx = 0;
        } else {
            txtIdx += 1;
        }
    }

    function typeBackwards(){
        let currTxt = change.text();
        if(!currTxt) {
            // start typing forwards in 0.4 seconds
            changeTxt();
            setTimeout(typeForwards, 400);
        } else {
            currTxt = arr[txtIdx].substring(0, currTxt.length - 1);
            change.text(currTxt);
            setTimeout(typeBackwards, 70);
        }
    }

    function typeForwards(){
        let currTxt = change.text();
        if(currTxt === arr[txtIdx]) {
            // start typing backwards in 1 seconds
            setTimeout(typeBackwards, 1000);
        } else {
            currTxt = arr[txtIdx].substring(0, currTxt.length + 1);
            change.text(currTxt);
            setTimeout(typeForwards, 70);
        }
    }

    typeForwards();

    $('.content-vid').click(function () {
        if($(this).prop('paused')){
            $(this).trigger('play');
            $(this).parent().find('.play-btn').css('visibility', 'hidden');
        } else {
            $(this).trigger('pause');
            $(this).parent().find('.play-btn').css('visibility', 'visible');
        }
    });
</script>

{% endblock extrajavascript %}
