{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
	{% block title %}Login{% endblock %}

	{% block extrastyle %}
    <link rel="stylesheet" href="{% static '/css/join-brand-signup.css' %}">
	<style>
		  .messages{
        display: flex;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 366px;
    padding: 12px;
    border-radius: 8px;
    /* color: var(--black); */
    background-color: white;
    /* box-shadow: var(--mediumBoxShadow); */
    font-size: 90%;
    z-index: 9999999999;
    box-shadow: rgb(120 120 170 / 20%) 0 2px 10px 0;
    color: black;
    }
    .join_brand_login, .join_influencer_login{
        display: block;
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 115%;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: rgb(120 120 170 / 15%) 0 2px 16px 0;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    background: black;
    color: azure;
   
    background-color: black;
    color: white;
    width: 49%;
    padding: 15px;
    margin: 4% auto;
    color: rgba(37, 35, 35, 0.329);
    }

    /* google signin button */
    .login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
    }
    .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .login-with-google-btn:active {
    background-color: #eeeeee;
  }

  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  a:hover{
      text-decoration: none;
  }




	</style>
	{% endblock %}

{% block content %} 
<!-- <div style="    display: flex;justify-content: center;">
    <ul class="messages" style=" padding: 2px; display: flex;">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="display: flex;"> 
            <div><img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/err.svg" class="succ-err-msg-img" id="msg-img-err" style="display: block;width: 20px;margin-right: 14px;" ></div></div>
            <div>{{ message }}</div>
            {% endfor %}
    </ul>
</div> -->
    <div class="form-holder login-form" style="display: block!important;">
        <h1 class="form-title">Welcome Back</h1>
		
		<form class = "form" method="POST" action="{% url 'login' %}">
			{% csrf_token %} 
            <input class="input input-login mt-3" type="email" placeholder="Email" name="email" required="">
            <input class="input input-login mt-3" type="password" placeholder="Password" name="password" required="">
            <button class="submit btn login-btn mt-5">Login</button>
            
            <a href="{% provider_login_url 'google' %}" style="width: 100%;margin-bottom: 20px; text-align: center;"><div style="width: 100%;"  class="login-with-google-btn" >
                Login in with Google
            </div> </a>
            <div style="display: flex; width: inherit; margin-top: -15px;">
                <div class=" join_brand_login mt-4" style="color: rgba(37, 35, 35, 0.329);">
                    <a style="color: rgb(255, 255, 255);;" href="{% url 'register' %}">Join As Brand</a>
                </div>
                <div class=" join_influencer_login mt-4" style="color: rgba(37, 35, 35, 0.329);">
                    <a style="color: rgb(250, 252, 255);;" href="{% url 'join_as_influencer' %}">Join As Influencer</a>
                </div>

            </div>
           
            <div class="login-forgot forgot mt-4" style="color: rgba(37, 35, 35, 0.329);">
				<a style="color: rgb(151, 163, 197);;" href="{% url 'reset_password' %}">Forgot password?</a>
			</div>
        </form>
    </div>

	<!-- [ auth-signin ] start -->

	<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extrajavascript %}

	<script src=" /static/assets/js/waves.min.js"></script>

{% endblock extrajavascript %} 
